ul {
    min-width: 940px;
    margin: 30px;
    border: 1px solid #000;
    background-color: #eee;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 15px;
}

.a {
    background-color: #ff6347;
}

.b {
    background-color: #ff8c00;
}

.c {
    background-color: #ffd700;
}

.d {
    background-color: #3cb371;
    font-size: 72px;
}

.e {
    background-color: #1e90ff;
}

.f {
    background-color: #9370db;
}

/*Flex box responds to the content and their natural width first, then it distributes the leftover space on the rows, left to right.*/
/*flex items are the width of the content inside of them*/
ul.flex{
    display: flex;

    /*justified content deals with the left over space on the main axis*/
    justify-content: flex-start; /*This is for default property*/
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;

    /*align items properties distributes the space on the cross axis, top to bottom. The tallest item defines the hieght for the whole row and by defaults all items will streach to fit*/
    align-items: stretch; /*deefault property*/
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;

    /*short hand property can use for both justify-content and align-items*/
    place-items: baseline center;
}